.main{
   
    width: 700px;
    height: 600px;
    margin-left:300px;
    margin-right:300px;
    border:3px solid gold;
    background: cornsilk;
}

.flex-container{

    margin-left: 140px;
    /* margin: 50px; */
    border-radius: 6px;
    height: 480px;
    width:450px;
    display: flex;
    flex-wrap: wrap;          /* very important always use flex for maxing boxes, it also helped here to shuffle boxes in this project*/
}
.box{
    margin:10px;
    background: white;
    width: 40px;
    height:40px;
    border-radius: 4px;
    border:6px solid grey;
    float:left;
    /* display: table-cell; */
    padding:15px;
    cursor: grab;
    transform-style: preserve-3d;
    
    
}

.flip{
transform-style: preserve-3d;
transition: transform 1s;
transform: rotateY(180deg);

}
/* .unflip:hover{
    transform: rotateY(180deg);
} */

.flip .front{
    width: 20%;
    height: 20%;
    transform: rotateY(180deg);
}

.flip .back{
    width:150%;
    height:150%;
    transform:translate(-20%,-30%)
    rotateY(180deg);
}

/* .unflip{
    transform-style: preserve-3d;
} */

.front{
    width:150%;
    height:150%;
    transform:translate(-20%,-20%);
}

.back{
    width:0%;
    height:0%;
    transform:translate(70%,-380%);
}







img{
    width:40px ;
    height:40px;
    /* align-items: center; */    
    
}